html{background-color: black;color:white; font-family: Verdana;font-size: 27px;}
body{margin: 0;padding: 0;}
main{width: 1360px;margin: 240px auto 40px;}
h1{font-size: 47px;}
.big{font-size: 31px;}
.center{text-align: center;}
ul, ol{margin:1em 0;padding: 0;}
li{list-style-type: none;}
ol li {list-style-type: none; margin:1em 0; padding: 0;}
.indent{text-indent: 1.5em;}

@media screen and (max-width:1360px){
    html{font-size: 21px;}
    main{width: auto; display: flex; flex-direction: column; margin: 140px 40px 40px;}
    h1{font-size: 39px;}
    .big{font-size: 25px;}
}
@media screen and (max-width:1220px){
    html{font-size: 15px;}
    main{margin: 100px 40px 40px;}
    h1{font-size: 33px;}
    .big{font-size: 19px;}
}
@media screen and (max-width:1220px){
    html{font-size: 15px;}
    main{margin: 80px 20px 40px;}
    h1{font-size: 31px;}
    .big{font-size: 16px;}
}